<div class="hinterund" [style.background]="'url(../../assets/Blue-simple-wallpaper-nackgrounds-download.jpg)'" style="height: 100%;">
    <mat-toolbar color="primary" class="app-header">
        <span class="nav-tool-items">
              <a mat-button mat-raised-button routerLink="login" routerLinkActive="active">Log in</a>
              <a mat-button  [routerLink]="['/register']" routerLinkActive="active">Register</a>
            </span>
    </mat-toolbar>
    <br>
    <br>
    <br>
    <br>
    <br>

    <br>
    <br>

    <div class="main-div">

        <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

            <mat-card class="box">
                <mat-card-header>
                    <mat-card-title>Log in</mat-card-title>
                </mat-card-header>

                <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">


                    <mat-card-content>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Email" ngModel #email="ngModel" name="email" type="email">
                        </mat-form-field>

                        <br>


                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Password" ngModel #password="ngModel" name="password" type="password">
                        </mat-form-field>
                    </mat-card-content>

                    <input type="image" src="assets/btn_google_signin_dark_pressed_web@2x.png" (click)="loginGoogle()" style=" width: 200px;">
                    <button *ngIf="user" (click)="logOut()">logout</button>
                    <button mat-stroked-button color="accent" class="btn-block">Log in</button>
                    <br>

                    <button mat-stroked-button color="accent" class="btn-block" [routerLink]="['/register']">Register</button>

                </form>
            </mat-card>

        </div>
    </div>


</div>








<!--

<mat-toolbar color="primary" class="app-header">
    <span class="nav-tool-items">
              <a mat-button mat-raised-button routerLink="login" routerLinkActive="active">Log in</a>
              <a mat-button  [routerLink]="['/register']" routerLinkActive="active">Register</a>
            </span>
</mat-toolbar>

<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
        </mat-card-header>

        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

            <div class="row" *ngIf="authError">
                <div class="col-12 alert alert-danger">{{ authError?.message }}</div>
            </div>

            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Email" ngModel #email="ngModel" name="email" type="email">
                </mat-form-field>

                <br>


                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" ngModel #password="ngModel" name="password" type="password">
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block">Log in</button>
            <button mat-stroked-button color="accent" class="btn-block" [routerLink]="['/register']">Register</button>

        </form>
    </mat-card>

</div>

-->