:host {
    position: relative;
}

.content {
    position: relative;
}

.gradient {
    position: absolute;
    background: radial-gradient(circle closest-side, #9b27af, transparent);
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
}