<div class="hinterund" [style.background]="'url(../../assets/Blue-simple-wallpaper-nackgrounds-download.jpg)'" style="height: 100%;">
    <mat-toolbar color="primary" class="app-header">
        <span class="nav-tool-items">
          <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
          <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
        </span>
    </mat-toolbar>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="main-div">
        <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
            <mat-card class="box">
                <mat-card-header>
                    <mat-card-title>Register</mat-card-title>
                </mat-card-header>
                <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)" class="example-form">

                    <mat-card-content>
                        <mat-form-field class="example-full-width">
                            <input matInput ngModel #firstname="ngModel" name="firstName" type="text" class="form-control" id="firstName" placeholder="First name">
                        </mat-form-field>
                        <br>
                        <mat-form-field class="example-full-width">
                            <input matInput ngModel #lastname="ngModel" name="lastName" type="text" class="form-control" id="lastName" value="" placeholder="Last name">
                        </mat-form-field>
                        <br>

                        <mat-form-field class="example-full-width">
                            <input matInput ngModel #email="ngModel" name="email" type="email" class="form-control" placeholder="Email">
                        </mat-form-field>
                        <br>

                        <mat-form-field class="example-full-width">
                            <input matInput ngModel #password="ngModel" name="password" type="password" class="form-control" placeholder="Password">
                        </mat-form-field>

                        <br>

                        <mat-form-field class="example-full-width">
                            <input matInput ngModel #password="ngModel" name="password" type="password" placeholder="Confirm password">
                        </mat-form-field>

                    </mat-card-content>

                    <button mat-stroked-button color="accent" class="btn-block">Register</button>

                </form>
            </mat-card>

        </div>
    </div>
</div>