<!-- Link für die Material Icons. -->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">





<mat-toolbar color="primary">
    <button mat-mini-fab color="warn" routerLink="/aboutus">
        <mat-icon>dashboard</mat-icon>
            </button>


    <!-- This fills the remaining space of the current row -->
    <span class="example-icon"></span>

    <mat-icon>{{iconTitel}}</mat-icon>

    <span class="example-icon"></span> {{pageTitel}}

    <span class="example-spacer"></span>

    <button mat-button>
    <mat-icon [matMenuTriggerFor]="helpMenu">help_outline</mat-icon>
            </button>


    <span class="example-icon"></span>

    <button mat-button routerLink="/home">
    <mat-icon>settings</mat-icon>
    </button>


    <mat-menu #helpMenu="matMenu">
        <div *ngIf="pageTitel === 'Settings'">
            This is the settings Help
        </div>

        <div *ngIf="pageTitel === 'Aboutus'">
            This is the Aboutus Help
        </div>

    </mat-menu>

    <span class="example-icon"></span>

    <button mat-button>
    <mat-icon [color]="userStatusColor" routerLink="/setproduct">account_box</mat-icon>
    </button>

    <span class="example-icon"></span>

    <div *ngIf="user">
        <button mat-mini-fab [matMenuTriggerFor]="avatarDropDown" class="toolbar-avatar" color="primary" [ngStyle]="{ 'background-image': 'url(' + user?.photoURL + ')'}">
  </button>

        <mat-menu #avatarDropDown="matMenu">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{ user?.displayName }}</mat-card-title>
                    <mat-card-subtitle>{{ user?.email }}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>

            <button mat-menu-item (click)="logOut()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Sign out</span>
  </button>
        </mat-menu>

    </div>

    <button mat-button><mat-icon matBadge={{totalvalue}} matBadgePosition="above after" matBadgeColor="warn" MatBadgeSize="small" [matMenuTriggerFor]="menu" [routerLink]="['/shoppingCart']" routerLinkActive="active">shopping_cart</mat-icon>
    <mat-menu #menu="matMenu">
            <tbody>
                    <div>
                        <mat-card>
                            <tr *ngFor="let order of orders">
        
                                <td>{{order.quantity}} ×
                                </td>
        
                                <td>{{order.productName}}</td>
                                <br>
                                <br>
                                <td>{{totalvalue}} = {{order.price*order.quantity}} $ </td>
                            </tr>
                        </mat-card>
                    </div>
        
        
                </tbody>
    </mat-menu>
    </button>


</mat-toolbar>