<div class="hinterund" [style.background]="'url(../../assets/Blue-simple-wallpaper-nackgrounds-download.jpg)'" style="height: 100%;">



    <app-header>
    </app-header>

    <br>
    <br>
    <div class="main-div">
        <div class="conatiner">
            <div class="mat-card-checkout">
                <mat-card *ngIf="orders==0" class="example-card">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Empty shopping cart</mat-card-title>
                        <mat-card-subtitle>You havent selected any Items</mat-card-subtitle>
                    </mat-card-header>
                    <div class="mat-card-imag2">
                        <img mat-card-image2 src="/assets/shopping-bag-logo-clipart-2.jpg" alt="Photo of a Shiba Inu" width="100%">
                    </div>

                    <mat-card-actions>
                        <button mat-button routerLink="/home">Go Back To Store</button>
                    </mat-card-actions>
                </mat-card>

                <mat-card *ngIf="total()>0">
                    <mat-card-header>
                        <mat-card-title>Your Bag:</mat-card-title>
                    </mat-card-header>

                    <tr *ngFor="let order of orders">
                        <mat-divider></mat-divider>

                        <img mat-card-image [src]="order.image">
                        <div class="mat-card-order-text">
                            <td>{{order.quantity}} × {{order.productName}} = {{order.price*order.quantity}} $
                            </td>
                        </div>
                        <br>

                    </tr>
                    <mat-divider></mat-divider>
                    <div id="element1"> Total (VAT included): </div>
                    <div id="element2"> {{total() | currency:'USD':'$'}}</div>

                    <mat-card-actions>
                        <button mat-button routerLink="/home">Checkout</button>
                    </mat-card-actions>

                </mat-card>
                <br>
                <div #paypal></div>
            </div>
        </div>
    </div>
    <ng-template [ngIf]="paidFor">

        <mat-icon aria-hidden="false" aria-label="Example home icon">check_circle</mat-icon>
    </ng-template>