.hintergrung {
    background-size: cover;
    background-repeat: no-repeat;
    height: 9000px;
}

.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-card-checkout {
    width: 400px;
}

.mat-card-image {
    margin-top: 10px;
    max-width: 100px;
    max-height: 70px
}

.mat-card-order-text {
    margin-left: 40px;
    margin-top: 40px;
    float: right;
}

.total {
    float: right;
}

#element1 {
    margin-top: 20px;
    display: inline-block;
    margin-right: 100px;
    font-weight: bold;
}

#element2 {
    display: inline-block;
    font-weight: bold;
}