<app-header pageTitel="setProducts" iconTitel="info" helpTitel="AboutusPageHelp"></app-header>


<mat-card>
    <mat-card-content>


        <div *ngIf="(toogleField== 'searchMode') else (toogleField=='addMode')? showAddMode:((toogleField== 'editMode'))">

            <!-- Hier wird die Suche konfiguriert-->

            <form #searchFormData="ngForm" class="example-form">

                <mat-card-actions>
                    <button type="button" (click)="toogle('resMode'); getFilterData(searchFormData.value);" mat-raised-button [disabled]="!searchFormData.valid" color="primary">Search</button>

                    <span class="example-spacer"></span>

                    <span matTooltip="Add new">
                        <mat-icon color="primary" (click)="toogle('addMode')">add</mat-icon>
                    </span>

                    <span class="example-spacer"></span>

                    <span matTooltip="Edit Products">
                            <mat-icon color="primary" (click)="toogle('editMode')">edit</mat-icon>
                        </span>


                    <span class="example-spacer"></span>



                    <span matTooltip="Show Recent Results">
                            <mat-icon color="primary" (click)="toogle('resMode');getData();">cached</mat-icon>
                        </span>

                </mat-card-actions>


                <mat-form-field class="example-form">
                    <input matInput type="text" placeholder="Category" id="category" name="category" #category="ngModel" ngModel minlength="3" maxlength="58"></mat-form-field>

                <br>

                <mat-form-field class="example-form">
                    <input matInput type="text" placeholder="Product Name" id="name" name="name" #name="ngModel" ngModel minlength="3" maxlength="58"></mat-form-field>

                <br>

                <mat-form-field class="example-form">
                    <input matInput [matDatepicker]="pickerfromdt" placeholder="From Date" id="fromdt" name="fromdt" #fromdt="ngModel" ngModel>
                    <mat-datepicker-toggle matSuffix [for]="pickerfromdt"></mat-datepicker-toggle>
                    <mat-datepicker #pickerfromdt></mat-datepicker>
                </mat-form-field>
                <br>
                <mat-form-field class="example-form">
                    <input matInput [matDatepicker]="pickertodt" placeholder="To Date" id="todt" name="todt" #todt="ngModel" ngModel>
                    <mat-datepicker-toggle matSuffix [for]="pickertodt"></mat-datepicker-toggle>
                    <mat-datepicker #pickertodt></mat-datepicker>
                </mat-form-field>
            </form>
        </div>
    </mat-card-content>
</mat-card>








<ng-template #showAddMode>


    <div class="card" style="width: 25rem;">
        <div class="card-body">
            <form [formGroup]="formTemplate" (submit)="onSubmit(formTemplate.value)">
                <div class="text-center">
                    <img [src]="imageSrc" width="350px" height="250px">
                </div>
                <div class="form-group">
                    <label>Select file to upload</label>
                    <input type="file" accept="image/*" class="form-control" formControlName="imageUrl" (change)="showPreview($event)">
                </div>
                <div class="form-group">
                    <input class="form-control" formControlName="product_name" placeholder="product_name">


                </div>
                <div class="form-group">
                    <input class="form-control" formControlName="price" placeholder="price">


                </div>
                <div class="form-group">
                    <select formControlName="category" class="form-control">

                        <option value="Fahrrad">Bycicle</option>
                        <option value="Elektroartikel">Electronics</option>
                        <option value="Parfüm">Perfume</option>
                        <option value="Mögelstück">furniture</option>
                        <option value="Uhr">Watch</option>
                    </select>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success float-right">Add Product</button>
                    </div>
                </div>

            </form>


            <!--
    <div class="inner-wrapper">
        <form [formGroup]="productForm" (ngSubmit)="submitProduct()" #resetProductForm="ngForm" novalidate>

            <mat-card>
                <div class="controlers-wrapper">

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Product name" formControlName="product_name">
                        <mat-error *ngIf="handleError('product_name', 'required')">
                            You must provide a<strong> product name</strong>
                        </mat-error>
                    </mat-form-field>
                    <br>

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="weight" formControlName="weight" pattern="[0-9]*" minlength="1" maxlength="10">

                        <mat-error *ngIf="handleError('weight', 'pattern')">
                            Only numbers are allowed
                        </mat-error>
                        <mat-error *ngIf="handleError('weight', 'minlength')">
                            Your <strong>Weight</strong> can be 10 digit
                        </mat-error>
                    </mat-form-field>
                    <br>

                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="price" formControlName="price">
                        <mat-error *ngIf="handleError('price', 'required')">
                            You must provide an <strong> price</strong>
                        </mat-error>
                    </mat-form-field>


                    <div class="dropzone" dropZone (hovered)="toggleHover($event)" (dropped)="startUpload($event)" [class.hovering]="isHovering">



                        <h3>Add Picture </h3>

                        <div class="file">
                            <label class="file-label">
               
               
                       <input class="file-input" type="file" (change)="startUpload($event.target.files)" formControlName="image">
               
               
                         <span class="file-cta">
                           <span class="file-icon">
                             <i class="fa fa-upload"></i>
                           </span>
                           <span class="file-label">
                             or choose a file…
                           </span>
                         </span>
                       </label>
                        </div>
                    </div>


                    <div *ngIf="percentage | async as pct">

                        <progress class="progress is-info" [value]="pct" max="100">        
                            </progress> {{ pct | number }}%

                    </div>


                    <div *ngIf="snapshot | async as snap">

                        <div *ngIf="downloadURL | async as url">
                            <h3>Results!</h3>
                            <img [src]="url"><br>
                            <a [href]="url" target="_blank" rel="noopener">Download Me!</a>
                        </div>

                        <button (click)="task.pause()" class="button is-warning" [disabled]="!isActive(snap)">Pause</button>
                        <button (click)="task.cancel()" class="button is-danger" [disabled]="!isActive(snap)">Cancel</button>
                        <button (click)="task.resume()" class="button is-info" [disabled]="!(snap?.state === 'paused')">Resume</button>

                    </div>





                </div>
            </mat-card>

            <mat-card>


                <div class="misc-bottom-padding">
                    <mat-label>Available in stock: </mat-label>
                    <mat-radio-group aria-label="Select an option" formControlName="in_stock">
                        <mat-radio-button value="Yes">Yes</mat-radio-button>
                        <mat-radio-button value="No">No</mat-radio-button>
                    </mat-radio-group>
                </div>


            </mat-card>

            <mat-card>
                <div class="full-wrapper button-wrapper">
                    <div class="button-wrapper">
                        <button mat-flat-button color="warn">Add product</button>
                    </div>
                </div>
            </mat-card>
        </form>
    </div>
</ng-template>



            <ng-template #showEditMode>

                <div class="title-group">
                    <h1 class="mat-h1">Edit product</h1>
                </div>

                <div class="inner-wrapper">
                    <form [formGroup]="editProductForm" (ngSubmit)="updateProduct()" novalidate>
                        <mat-card>
                            <div class="controlers-wrapper">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="product name" formControlName="product_name">
                                    <mat-error *ngIf="handleError('product_name', 'required')">
                                        You must provide a<strong>product name</strong>
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Weight" formControlName="weight" pattern="[0-9]*">
                                    <mat-error *ngIf="handleError('weight', 'pattern')">
                                        Only numbers are allowed
                                    </mat-error>

                                </mat-form-field>

                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Price " formControlName="price">
                                    <mat-error *ngIf="handleError('price', 'required')">
                                        You must provide an <strong>author name</strong>
                                    </mat-error>
                                </mat-form-field>


                            </div>
                        </mat-card>

                        <mat-card>

                            <div class="misc-bottom-padding">
                                <mat-label>Available in stock: </mat-label>
                                <mat-radio-group aria-label="Select an option" formControlName="in_stock">
                                    <mat-radio-button value="Yes">Yes</mat-radio-button>
                                    <mat-radio-button value="No">No</mat-radio-button>
                                </mat-radio-group>
                            </div>

                        </mat-card>

                        <mat-card>
                            <div class="full-wrapper button-wrapper">
                                <div class="button-wrapper">
                                    <button mat-flat-button color="warn" [routerLink]="['/setproduct']">Update</button>
                                    <button mat-flat-button color="war" type="button" [routerLink]="['/setproduct']">Go Back</button>
                                </div>
                            </div>
                        </mat-card>
                    </form>
                </div>
            </ng-template>

            <ng-template #showResMode></ng-template>
            -->