<app-header pageTitel="Aboutus" iconTitel="info" helpTitel="AboutusPageHelp"></app-header>


<mat-tab-group>
    <mat-tab label="Manage"> Content 1 </mat-tab>
    <mat-tab label="Aboutus"> Content 2 </mat-tab>
    <mat-tab label="FAQ"> Content 3 </mat-tab>
    <mat-tab label="PRO"> Content 3 </mat-tab>
    <mat-tab label="TERMS"> Content 3 </mat-tab>

</mat-tab-group>