<app-header> </app-header>
<!-- 
<p *ngIf="ProductData.length <= 0" class="no-data">There is no data added yet!</p>

Books list Angular material data table 
<div class="container" *ngIf="ProductData.length > 0">
    <div class="mat-elevation-z8">
        <mat-card>
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="$key">
                    <th mat-header-cell *matHeaderCellDef> Product ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.$key}} </td>
                </ng-container>

                <ng-container matColumnDef="product_name">
                    <th mat-header-cell *matHeaderCellDef> Book Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.product_name}} </td>
                </ng-container>

                <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef> Author Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> Publication Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                </ng-container>

                <ng-container matColumnDef="in_stock">
                    <th mat-header-cell *matHeaderCellDef> In Stock </th>
                    <td mat-cell *matCellDef="let element"> {{element.in_stock}} </td>
                </ng-container>

                <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef> In Stock </th>
                    <td mat-cell *matCellDef="let element"> {{element.image}} </td>
                </ng-container>



                
            </table>



        </mat-card>


       

    




                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>


       

--

<mat-card class="card" *ngFor="let tarea of ProductData ">

    <img src="{{tarea?.image}}" alt="Bild" target="_blank">
    <h1 class="mat-subheading-2">{{tarea?.product_name}}</h1>
    <h1 class="mat-subheading-2">{{tarea?.price}} $</h1>
    <h1 class="mat-subheading-2">Available? {{tarea?.in_stock}} !</h1>
    <button  mat-raised-button color="primary" class="btn-size" (click)="addToCart(i,p.id)"> Add to Cart</button>


</mat-card>

<mat-card class="card" *ngFor="let tarea of downloadURL | async">
    <h3>!</h3>
    <img src={{tarea?.image}}><br>
</mat-card> 

-->
<div class="container" fxLayout="wrap row" fxLayout.xs="column" fxLayoutGap="1%" fxLayoutAlign="center">
    <div fxFlex="20%">

        <div class="flex-me" cols="4" rowHeight="320px" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
            <mat-card *ngFor="let p of imageList, let i=index" fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)">

                <img mat-card-image [src]="p.imageUrl">

                <mat-card-content>{{p.product_name}}

                    <br> {{p.price}} $

                </mat-card-content>

                <mat-card-actions fxFlexAlign="end">

                    <button *ngIf="!(conditionToDisaply && getQuantity(i)>0)" mat-raised-button color="primary" class="btn-size" (click)="addToCart(i,p.id)"> Add to Cart</button>
                    <div fxFlex></div>
                    <span *ngIf="(conditionToDisaply &&getQuantity(i)>0)">
        <button mat-raised-button color="accent" class="btn-size-small" (click)="removeFromCart(i,p.id)"> - </button>
        <label class="label-small">Items in Cart {{getQuantity(i)}} </label>
        <button mat-raised-button color="accent" class="btn-size-small" (click)="addToCart(i,p.id)" > + </button>
        </span>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

<!--
<table *ngIf="imageList">
    <tr *ngFor="let i of rowIndexArray">
        <td>
            <div class="imagebox">
                <img [src]="imageList[3*i].imageUrl" class="img-fluid">
                <span class=" imagebox-desc"> {{imageList[3*i].price}}</span>
            </div>
        </td>
    </tr>

</table>

-->