.mat-card {
    height: 400px;
    width: 200px;
}

.flex-me {
    display: inline-flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
    max-width: 200;
}

mat-card img {
    object-fit: cover;
    /*this makes the image in src fit to the size specified below*/
    width: 116%;
    /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 80%;
}

.btn-size {
    margin-bottom: 30px;
}