<app-header pageTitel="Settings" iconTitel="settings" helpTitel="SettingsPagehelp"></app-header>


<mat-card>
    <mat-card-content>
        <button routerLink="/header"> got to about us</button>
        <button routerLink="/footer"> go to footer</button>
        <br/>
    </mat-card-content>
</mat-card>